body {
    background-color: white;
    font-family: lato;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: white;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 150px;
}


input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: white;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 150px;
}

input:hover {
    background-color: limegreen;
    color: white;
    box-shadow: 1px 1px 10px #f1f1f1;
}

button:hover {
    background-color: limegreen;
    color: white;
    box-shadow: 1px 1px 10px #f1f1f1;
}

p {
    
    font-size: 20px;
}

.mid {
    border: 1px solid violet;
    margin: auto;
    height: 300px;
    border-radius: 10px;
    background-color: lavender;
    text-align: center;

}
